{% extends "bootstrap/base.html" %}

{% block title %}
About
{% endblock %}

{% block styles %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="../static/about.css"/>
{% endblock %}

{% block content %}
<head>
  <script src="https://kit.fontawesome.com/50f7925ce4.js" crossorigin="anonymous"></script>
</head>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="sidebar">
    <div class="w3-container w3-display-container">
      <h4 class="w3-wide" style="color: rgba(157,157,157,255);"><b>CULTURE OF MALAYSIA</b></h4>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
      <div class="font">
        <a href="{{ url_for('dashboard') }}" class="w3-bar-item w3-button">HOME</a>
        <a href="{{ url_for('myplan') }}" class="w3-bar-item w3-button">CALENDAR</a>
        <a href="{{ url_for('course') }}" class="w3-bar-item w3-button">COURSES</a>
        <a href="{{ url_for('about') }}" class="w3-bar-item w3-button">ABOUT</a>

        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        </div>
      </div>
    </div>
  </div>
</nav>

<!---------- Top Nav ---------->
<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index:2;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="topnav nav navbar-nav navbar-right">
        <li>
          <div class="dropdown">
            <button class="dropbtn">My Cart <i class="fa fa-shopping-cart"></i></button>
              <div class="dropdown-content">
                <table id="cart">
                  <tbody>
                    {% for course in user_cart %}
                      <tr>
                        <td><a href="">{{course.course_name}}</a></td>
                        <td><a href="">{{course.slot_day}}</a></td>
                        <td><a href="">{{course.slot_time}}</a></td>
                        <td><a href="">RM {{course.course_price}}</a></td>
                        <td>
                          <form method="POST" name="remove">
                            <button class="btn btn-danger" name="remove" type="submit" value="{{course.course_name}}" 
                            style="margin: 0 auto; display: block;">Remove</button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr style="border-top: 2px solid #3f3f3f;">
                      <td></td>
                      <td></td>
                      <td colspan=""><p style="color: black; padding: 0px 15px; padding-top: 11px;">Total:</p></td>
                      <td colspan=""><p style="color: black; padding: 0px 15px; padding-top: 11px;">RM {{ cart_total }}</p></td>
                      <td colspan="">
                        <form method="POST" name="checkout">
                          <button class="btn btn-success" name="checkout" type="submit"
                          style="margin: 0 5px; display: block;">Checkout</button>
                        </form>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
          </div>
        </li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      
      <!-- Search bar -->
      <form action="/course" method="POST" autocomplete="on" class="navbar-form navbar-right">
        {{ form.hidden_tag() }}
        <input id="search" name="search" type="text" class="form-control" placeholder="Search...">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>

      <div class="table-responsive">
        <table class="table table-striped">
        </table>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      </div>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


<!-- about -->
<header class="container">
  <h1 class="page-header">About us</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p style="color: red; text-align: left; font-weight: normal; margin-top: -20px; margin-left: 7px;">{{ msg }}<p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="headpic">
    <div><img class='image' src="../static/merdeka.webp" alt="merdeka"></div>
    <div class="p"><p>By offering traditional handcraft courses, <br>we are hoping to prevent the extinction <br>of making  malaysian traditional products <br> and encourage youngsters to be the new <br>advocates of  our beautiful cultures.<br>
      <br>In this era, We see the flood of modern<br> minimalistic aesthetics are drowning the<br> other aspect of beauty in every industry. <br>The cultural influence has bring a low tide<br> of Malaysia culture products these days.<br> Nonetheless,
      We are inspired to see more <br> hand-make authentic delicacies and traditional<br> handcrafts from our own country, and extend <br>beyond here. <b><i>Kita anak Malaysia!</i></b></p>
  </div>
</header>

<!--Dividing line--> 
<div class="table-responsive">
    <table class="table table-striped">
    </table>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</div>

<!--Contact Us-->
<button type="button" class="collapsible">Contact Us</button>
<div class="content">
  <img src="../static/juwei.jpg" class="profile" alt="Avatar" width="150px">
  <p><b</b> <br> 
    <i>Contact Number: 016-2703913</i><br> 
    <i>Email: 1211104210@student.mmu.edu.my</i></p>
  <br>
  <img src="../static/zhengbin.jpg" class="profile" alt="Avatar" width="150px">
  <p><b></b> <br> 
    <i>Contact Number: 019-7982299</i><br> 
    <i>Email: 1211103705@student.mmu.edu.my</i></p>
  <br>
  <img src="../static/shinly.jpg" class="profile" alt="Avatar" width="150px">
  <p><b</b> <br> 
    <i>Contact Number: 013-6630012</i><br> 
    <i>Email: 1211103927@student.mmu.edu.my</i></p>
  <br>
  <img src="../static/yexin.jpg" class="profile" alt="Avatar" width="150px">
  <p><b></b> <br> 
    <i>Contact Number: 010-3787368</i><br> 
    <i>Email: 1211104730@student.mmu.edu.my</i></p>
</div>    

<!--JavaScript for contact us HOVER-->
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
{% endblock %}